# Visual Studio build files
*.vcxproj
*.vcxproj.filters
*.suo
*.user
*.opensdf
*.sdf
*.ipch
*.obj
*.log
*.tlog
*.pch
*.idb
*.pdb
*.exe
*.dll
*.lib
*.exp

# Build output
x64/
Debug/
Release/
build/
/.vs/DeclarativeSoundEngine/FileContentIndex
/.vs/DeclarativeSoundEngine/v17
