* text=auto eol=lf

*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.vcxproj.user text eol=crlf

*.h linguist-language=C++
*.hpp linguist-language=C++
*.cpp linguist-language=C++
